.news-sidebar {
    background-color: #F2F8FF;
    padding: 0 10px;
    margin-top: 45px !important;
    .card-title {
        color: #222222;
        font-size: 22px;
        font-weight: 700;
        padding-right:0px;
        margin-bottom: 12px;
        font-weight: 500;
        margin-top: 5px;
        line-height: 24px;
    }
    .news-img {
        padding-right: 8px !important;
        background-color: #F2F8FF;
        img {
            width: 96%;
            height: 145px;
            object-fit: cover;
            border-radius: 12px;
        }
    }
    .src-news {
        font-size: 15px;
        color: #9ca3af;
        font-weight: 400;
    }
    .time-news {
        color: #6b7280;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin-top: 2px;
    }
    .news-content {
        padding-left: 8px !important;
        background-color: #F2F8FF;
    }
    .card-text {
        margin-top: 10px;
        font-size: 19px;
        line-height: 23.6px;
        font-weight: 400;
    }
    .card {
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 30px !important;
        padding-right: 20px;
        background-color: transparent;
    }
    .card-fotterr {
        position: absolute;
        bottom: -15px;
    }
}
// Box showcases
.show__cases-covid {
    margin-top: 20px;
    padding: 0 25px;
    .red {
        color: #FF392B;
        font-size: 19px;
    }
    .green {
        font-size: 19px;
        color: #00945E;
    }
    .box-cases {
        padding: 19px 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #fff;
        padding-bottom: 30px;
    }
    .box-container {
        display: flex;
        flex-direction: column;
    }
    .box-title {
        margin-bottom: 15px;
        font-size: 19px;
        font-weight: bold;
        text-align: start;
    }
    .time-cases {
        margin-bottom: 12px;
    }
    .total-cases,.recovered-cases,.death-cases {
        display: flex;
        justify-content: space-between;
    }
    span {
        font-size: 17px;
        text-align: end;
        width: 33.3%;
        margin: 4px 0;
    }
    .title-th {
        text-align: start;
        font-weight: bold;
        font-size: 18px;
    }
}
.btn-group label {
    font-size: 14px;
    padding: 13px 22px;
    color: #58667e ;
    background-color: #eff2f5;
    border: 1px solid #ddd;
    border-radius: 7px;
    user-select: none;
    cursor: pointer;
}
.btn-group .atv {
    background-color: #fff;
}
.highcharts-title,.highcharts-credits{
    display: none ;
}

@media screen and(max-width : 700px) {
    .news-sidebar {
        .news-img img {
            height: 240px !important;
            width: 100%;
        } 
        .card-title {
            margin-top: 30px !important;
        }
        .card-body {
            margin-bottom: 50px;
        }
        .card-fotterr {
            bottom: 0;
        }
        .news-img {
            padding-right: 0px !important;
        }
}
}