@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button,a,li {
    cursor: pointer;
    font-weight: 400;
    list-style: none;
}
a {
   text-decoration: none !important;
   color: rgb(44, 43, 43) !important;
}
body {
    background-color: #f2f8ff !important;
    font-family: 'Comfortaa', cursive !important;
}
p {
    font-weight: 400;
}
.team {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.highcharts-root {
    font-family: sans-serif !important;
}
tspan {
    font-size: 13px;
}
.recharts-legend-item-text,.recharts-default-legend {
    display: none;
}
.recharts-tooltip-wrapper  {
    font-size: 13px;
    line-height: 30px;
    text-align: center;
}
.recharts-tooltip-item-list {
    margin-top: 20px !important;
}